---
import { Text, Title, Image } from "@components/index"

interface Props {
	class?: string
	title?: {
		text: string
		highlight?: number[]
	}
	subtitle: {
		text: string
		line: boolean
	}
	text?: string
	images?: {
		src: ImageMetadata
		alt?: string
	}[]
}

const { class: className, title, text, images, subtitle } = Astro.props
---

<section class:list={["split", className]}>
	<div class="split__left">
		<Title
			Tag="h2"
			class="typo-h1"
			text={title.text}
			highlight={title.highlight}
		/>

		<Image
			src={images[0].src}
			alt={images[0].alt}
			class="c-picture--cover"
			sizes={`50vw`}
			shape={{
				x: "left",
				y: "top"
			}}
		/>
	</div>

	<div class="split__right">
		<Image
			src={images[1].src}
			alt={images[1].alt}
			class="c-picture--cover"
			sizes={`50vw`}
		/>

		<div class="split__right-info">
			<Title
				Tag="h2"
				text={subtitle.text}
				highlight={[3]}
				line={subtitle.line}
			/>

			<Text text={text} />
		</div>
	</div>
</section>
