---
import { HTMLAttributes } from "astro/types"
import { Icon } from "@components/index"

interface Props {
	class?: string
	type?: any
	id?: string
	name?: string
	placeholder?: string
	label?: string
}

const {
	label,
	name,
	id,
	type = "text",
	placeholder,
	class: className,
	...props
} = Astro.props
---

<div class:list={["c-input", className]}>
	<label class="c-input__label typo-body-medium" for={id}>{label}</label>

	<input
		type={type}
		id={id}
		name={name}
		placeholder={placeholder}
		class="c-input__field typo-body-medium"
	/>
</div>
