---
interface Props {
	class?: string
	type?: any
	id?: string
	name?: string
	placeholder?: string
	label?: string
}

const {
	label,
	name,
	id,
	type = "text",
	placeholder,
	class: className,
	...props
} = Astro.props
---

<div class:list={["c-textarea", className]}>
	<label class="c-textarea__label typo-body-medium" for={id}>{label}</label>

	<textarea
		id={id}
		name={name}
		placeholder={placeholder}
		class="c-textarea__field typo-body-medium"
	>
	</textarea>
</div>
